#driver-main {
  height: 450px;
  width: 1100px;
  padding-left: 180px;
  background-color: var(--dark-grey);
  text-align: center;
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: 200px 260px 240px;
  grid-template-rows: 0 0;
  position: relative;
}

.camera-driver-main { 
  height: 150px; 
  width: 669px;
  margin-left: 180px;
  position: absolute; 
  bottom: 0;
  background-color: transparent;
  border: 1px solid var(--white);
}

.camera-driver-main > p {
  font-size: 50px;
  margin-top: 20px;
  color: var(--white);
}

/* LEFT SIDE OF SCREEN */
.delta-front {
  margin-top: 0px;
  margin-left: 40px;
}

.delta-back {
  margin-top: 8px;
  margin-left: 40px;
}

.delta-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 2px 2px;
  grid-template-rows: auto auto;
  text-align: center;
  grid-gap: 35px;
}

.delta-grid-item {
  font-size: 25px;
  color: var(--light-grey);
}

.delta-grid-item > p {
  margin-top: 15px;
  margin-left: 5px;
}

/* STYLE FOR DELTA TRIANGLE */
.triangle {
  position: relative;
  transform: scale(var(--ggs,1));
  width: 32px;
  height: 40px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid var(--light-grey);
}
.triangle,
.triangle::before {
  display: block;
  box-sizing: border-box;
  border-right: 3px solid transparent
}
.triangle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 29px;
  border-left: 3px solid var(--light-grey);
  border-top: 3px solid var(--light-grey);
  border-bottom: 3px solid transparent;
  transform: rotate(45deg) skew(10deg,10deg);
  left: -2px;
  bottom: -17px;
}

.delta-back > .delta-grid > .delta-grid-item > .triangle::before {
  bottom: -15.9px
}
/* END OF STYLE FOR DELTA TRIANGLE */

.battery {
  width: 120px;
  background: linear-gradient(to right, var(--dark-blue), var(--light-aqua));
  height: 60px;
  border-radius: 10px;
  margin-top: -45px;
  margin-bottom: 20px;
  padding: 3px;
  margin-left: 30px;
}

.battery-inner {
  background-color: var(--dark-grey);
  margin-bottom: -10px;
  padding: 0;
  height: 60px;
  width: 120px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
}

.battery-inner > p {
  color: var(--white);
  font-size: 35px;
  margin-top: 7px;
}

.battery-cap {
  width: 120px;
  background: linear-gradient(to right, var(--dark-blue), var(--light-aqua));
  height: 10px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 5px;
}

.lap-sector {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 0 0;
  text-align: center;
  grid-gap: 25px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.lap-sector-item {
  font-size: 20px;
  color: var(--white);
  text-align: left;
}

.lap-data {
  color: var(--dark-aqua);
}

.sector-data {
  color: var(--yellow);
}
/* END OF LEFT SIDE OF SCREEN */

/* MIDDLE SCREEN */
.speed-outer {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid var(--dark-blue);
  margin-top: 30px;
  margin-left: 20px;
}

.speed-gradient {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: 15px auto auto 15px;
  position: absolute;
  background: linear-gradient(to top, var(--dark-blue), var(--light-aqua));
}

.speed-inner {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--dark-grey);
  margin: 10px auto auto 10px;
  position: absolute;
}

.speed-inner > p:first-child {
  font-size: 30px;
  margin-top: 5px;
  color: var(--light-aqua)
}

.speed-inner > p:nth-child(2) {
  font-size: 70px;
  margin-top: -45px;
  color: var(--white)
}

.speed-inner > p:nth-child(3) {
  font-size: 20px;
  margin-top: -85px;
  color: var(--light-grey)
}
/* END OF MIDDLE SCREEN */

/* RIGHT SCREEN */
.wheel-pressure-main {
  text-align: center;
  display: grid;
  grid-template-columns: 2px 2px;
  grid-template-rows: 10px 10px;
  text-align: center;
  grid-gap: 120px;
  margin-top: 20px;
}

.wheel-main {
  width: 60px;
  height: 90px;
  border: 4px solid var(--dark-blue);
  border-radius: 10px;
  color: var(--white);
  font-size: 23px;
}

.wheel-main > p:first-child {
  margin-top: 5px;
}

.wheel-main > p:nth-child(2) {
  margin-top: 25px;
}

.wheel-connector-main-left-warning {
  height: 40px;
  width: 20px;
  margin: -87px auto auto 64px;
  background: linear-gradient(to right, var(--dark-red), var(--light-red));;
}

.wheel-connector-main-left-normal {
  height: 40px;
  width: 20px;
  margin: -87px auto auto 64px;
  background: linear-gradient(to right, var(--darker-yellow), var(--yellow));;
}

.wheel-connector-main-right-warning {
  height: 40px;
  width: 20px;
  margin: -87px auto auto -24px;
  background: linear-gradient(to right, var(--dark-red), var(--light-red));;
}

.wheel-connector-main-right-normal {
  height: 40px;
  width: 20px;
  margin: -87px auto auto -24px;
  background: linear-gradient(to right, var(--darker-yellow), var(--yellow));;
}
/* END OF RIGHT SCREEN */