:root {
  --white: #ffffff;
  --light-grey: #D6D6D6;
  --dark-grey: #2A2A2A;
  --bright-blue: #00D1FF;
  --dark-blue: #3C7EFF;
  --dark-aqua: #17D8CC;
  --light-aqua: #52FFD5;
  --darker-yellow: #DAA213;
  --yellow: #FFC225;
  --dark-red: #920000;
  --light-red: #C82020;
}
