@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-display: fallback;
  src: url("../public/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Darker Grotesque";
  font-weight: 400;
  font-display: fallback;
  src: url("../public/fonts/DarkerGrotesque-Bold.ttf"),;
}

.App {
  text-align: center;
}

#content {
  width: 750px;
  min-height: 200vh;
}
